# Flutter build
build/
frontend/build/
OCR/.venv/


# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
**/GeneratedPluginRegistrant.*
.macos/
windows/
linux/
